html, body {
  font-family: 'Kumbh Sans';
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
}

.container-fluid {
  padding: 7% 15%;
}

p {
  color: #8f8f8f;
  font-weight: bold;
}

.colored-section {
  color: #fff;
  background-color: #ff4c68;
}

.white-section {
  background-color: #fff;
}

/* Title */

#title .container-fluid {
  padding: 3% 15%;
  text-align: left;
}

.title-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 15px;
}

.nav-link {
  font-weight: 400;
  font-size: 1.1rem;
}

.title-download-button {
  margin: 5% 3% 5% 0;
}

.title-img {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 25%;
  top: 11%;
}

/* Feature */
#features {
  position: relative;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonial */
#testimonials {
  background-color: #ef8172;
}

.testimonial-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-img {
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}

/* Press */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 14%;
  margin: 20px 20px 50px;
}

/* Pricing */

#pricing .container-fluid {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

.pricing-main-heading {
  font-size: 3rem;
}

/* CTA */
.cta-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

.cta-dl-buttons {
  margin: 5% 3% 0 0;
}

/* Footer */

#footer .container-fluid {
  padding: 7% 15% 3% 15%;
}

.social-icon {
  margin: 20px 10px;
}

/* Media Query */
@media screen and (max-width: 1028px) {
  #title .container-fluid {
    text-align: center;
  }

  .title-img {
    position: static;
    transform: rotate(0);
    margin: 25px;
  }

  html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}
